*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background: #FDF7F8;
    z-index: 9;
}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}
.brand-logo{
    height: 60px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
}
.search-box{
    width: 40vw;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}
.search-btn{
    width: 20vw;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #41436A;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-box::placeholder{
    color: #a9a9a9;
}
.nav-items a{
    margin-left: 20px;
}
.nav-items a img{
    width: 30px;
}
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #41436A;
    opacity: 0.5;
    transition: .5s;
}
.link:hover{
    opacity: 1;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:#41436a;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{    
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 20px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    display: block;
    transition: all 0.4s ease;
    text-decoration: none;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 50px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align:center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #41436a;
    background-color:#ffffff ;
}
   
   
   